{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}

  <div id="searchContainer" class="container">
      <!-- left hand side -->
      <div class="col-md-3">
        <p><b>Advanced Filtering Options</b></p>
          <ul id="sidebar" class="list-group">
            <a href="#"><li class="list-group-item">Languages<span class="caret"></span></li></a>
            <a href="#"><li class="list-group-item">Keywords<span class="caret"></span></li></a>
            <a href="#"><li class="list-group-item">University<span class="caret"></span></li></a>
            <a href="#"><li class="list-group-item">Region<span class="caret"></span></li></a>
            <a href="#"><li class="list-group-item">Times Offered<span class="caret"></span></li></a>
          </ul>
        <div id="inline-filter">
          <p><a href="#">New Search</a>  
          | <a href="#">Clear Filter</a></p>
        </div>


    </div> <!-- col3 -->

  
  <div class="col-md-9">
  {% block results %}{% endblock %}
  </div>

</div> <!-- container -->


  <!-- Page numbers -->
  <div class="container">
  <div class="col-md-12 centered">
  <nav>
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  </div>
  </div>

{% endblock %}
